---

extends: default

ignore: |
  .github/*

# https://yamllint.readthedocs.io/en/stable/rules.html
rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  colons:
    max-spaces-after: -1  # disable
  commas:
    max-spaces-after: -1  # disable
  comments:
    require-starting-space: false
    ignore-shebangs: true
    min-spaces-from-content: 2
  comments-indentation: disable
  document-start:
    present: true
  empty-lines:
    max: 3
    level: error
  hyphens:
    max-spaces-after: 1
  indentation:
    spaces: 2
    indent-sequences: true
  key-duplicates: {}
  line-length: disable
  new-line-at-end-of-file: enable
  new-lines:
    type: unix
  trailing-spaces: {}
  truthy: disable
