---

- name: Run preflight checks
  ansible.builtin.include_tasks: preflight.yml

- name: Configure host
  ansible.builtin.include_tasks: configure.yml

- name: Initialize control-plane
  ansible.builtin.include_tasks: control-plane-init.yml
#  when: "'control_plane' in group_names"
